# Please put language-specific ignore patterns
# in a .gitignore file inside the root folder
# of that language. See Scala/.gitignore for
# an example. Thanks.
/.vs/ugly-trivial/v17/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/fsharp/.vs/Trivia/v17/TestStore/0/testlog.manifest
/fsharp/.vs/Trivia/v17/TestStore/0/000.testlog
/fsharp/.vs/Trivia/v17/TestStore/0
/fsharp/.vs/Trivia/v17/.suo
/fsharp/.vs/Trivia/v17
/fsharp/.vs/Trivia/project-colors.json
/fsharp/.vs/Trivia
/.vs/ugly-trivia/v17/TestStore/0/testlog.manifest
/.vs/ugly-trivia/v17/TestStore/0/000.testlog
/.vs/ugly-trivia/v17/TestStore/0
/.vs/ugly-trivia/v17/.suo
/.vs/ugly-trivia/v17
*.json
